/* stylesheet for oppskrifter */

head {
    margin: auto;
}

body {
    background: whitesmoke;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
}

div {
    background-color: white;
    padding: 20px;
    margin: 10px 0px;
}

#hjem {
    display: inline-block;
    margin: 5px 0px;

}