/*css for forside*/


body {
    background: rgb(220, 224, 228);
}

.oppskrifter {
    background-color: white;
    display: inline-block;
    color: black;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
}